body{
    background-size: cover;
    background-image: linear-gradient(to bottom right, red, blue);
    height: 94.6vh;
}


.container{
    text-align: center;
    margin-top: 2rem;
    height: 100%;
}

.container table{
    margin:auto;
    margin-top: 0.5rem
}

.container input{
    font-size: 1.5rem;
    border:4px solid slategray;
    border-radius: 10px;
    padding: 2px 10px;
    width: 18rem;
    height: 40px;
    margin:1.3rem 10px;
    box-shadow: 0 0 40px #eee;
}

.container table button{
    font-size: 1.5rem;
    width: 73px;
    height: 60px;
    border: 3.5px solid slategray;
    border-radius: 5rem;
    margin:1px;
    color: gray;
    color: black;
    box-shadow: 0 0 5px #eee;
}

.calculator{
    display:inline-block;
    border: 4px solid white;
    border-radius: 15px;
    margin-top: 1.5rem;
    box-shadow: 0 0 60px #eee;
}